.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  height: 105px;
  margin-top: 90px;
  padding: 0 24px;
}

.header__menu-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-around;
  gap: 27px;
  list-style-type: circle;
}

.header__menu-list-first-li {
  list-style-type: none;
}

.header__menu-item {
  padding-left: 5px;
  font-size: 18px;
}

.header__menu-link {
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

.header__menu-item_active .header__menu-link {
  text-decoration: none;
}

.header-logo {
  justify-self: center;
}

.header__logo-image {
  width: 145px;
  height: 105px;
}

.header__address {
  display: flex;
  flex-direction: column;
  padding-left: 183px;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 1.35;
}

.header__address-link {
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.cover {
  position: relative;
  z-index: 1;
  height: 744px;
  margin: 93px 9px 0;
  overflow: hidden;
  color: white;
  text-transform: uppercase;
}

.cover__image {
  height: 757px;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  font-weight: 700;
  font-size: 100px;
  transform: translate(-50%, -50%);
}

.accent-span {
  position: absolute;
}

.text-left {
  top: -210px;
  left: -494px;
  line-height: 1.15;
  letter-spacing: 30px;
}

.text-center {
  top: -87px;
  left: -211px;
  letter-spacing: 28px;
}

.text-right {
  top: 32px;
  left: 81px;
  letter-spacing: 59px;
}

.accent-span-letter-no {
  letter-spacing: 60px;
}

.accent-span-letter-e {
  letter-spacing: 30px;
}

.accent-span-letter-b {
  letter-spacing: 57px;
}

.accent-span-letter-ee {
  letter-spacing: 60px;
}

.accent-span-letter-ad {
  letter-spacing: 28px;
}

.cover__bottom-text {
  position: absolute;
  top: 656px;
  left: 81px;
  z-index: 4;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.27273;
  word-spacing: 17px;
}

.cover__button {
  position: absolute;
  top: 644px;
  left: 781px;
  z-index: 4;
  width: 252px;
  height: 52px;
  border: solid;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  display: flex;
  flex-direction: column;
  margin-top: 176px;
  margin-left: 33px;
  margin-right: 33px;
}

.lots__heading{
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 27px 37px;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.lots__card-list-item {
  list-style-type: none;
  display: flex;
  min-height: 554px;
  flex-basis: 328px;
  flex-grow: 1;
  position: relative;
}

.card-link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.card {
  display: flex;
}

.card img {
  height: 554px;
  object-fit: cover;
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 35px 46px 39px;
  line-height: 1.2;
}

.card__content-title {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

.card__content-text {
  font-size: 20px;
  line-height: 1.2;
}

.lots__look-more-link {
  font-size: 20px;
}

.lots_underline {
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
  padding: 29px 0 0 39px;
}