.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  height: 105px;
  margin: 90px 24px 0;
}

.header__menu-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 27px;
  list-style-type: circle;
}

.header__menu-list-first-li {
  list-style-type: none;
}

.header__menu-item {
  padding-left: 5px;
  font-size: 18px;
}

.menu-link {
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

.menu-item_active {
  text-decoration: none;
}

.header-logo {
  justify-self: center;
}

.header__logo-image {
  width: 145px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 1.35;
}

.address__header-padding {
  padding-left: 183px;
}

.address-link {
  width: fit-content;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.cover {
  position: relative;
  z-index: 1;
  height: 744px;
  margin: 93px 9px 0;
  overflow: hidden;
  color: white;
  text-transform: uppercase;
}

.cover__image {
  height: 757px;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  font-weight: 700;
  font-size: 100px;
  transform: translate(-50%, -50%);
}

.accent-span {
  position: absolute;
}

.text-left {
  top: -210px;
  left: -494px;
  line-height: 1.15;
  letter-spacing: 30px;
}

.text-center {
  top: -87px;
  left: -211px;
  letter-spacing: 28px;
}

.text-right {
  top: 32px;
  left: 81px;
  letter-spacing: 59px;
}

.accent-span-letter-no {
  letter-spacing: 60px;
}

.accent-span-letter-e {
  letter-spacing: 30px;
}

.accent-span-letter-b {
  letter-spacing: 57px;
}

.accent-span-letter-ee {
  letter-spacing: 60px;
}

.accent-span-letter-ad {
  letter-spacing: 28px;
}

.cover__bottom-text {
  position: absolute;
  top: 656px;
  left: 81px;
  z-index: 4;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.27273;
  word-spacing: 17px;
}

.cover__button {
  position: absolute;
  top: 644px;
  left: 781px;
  z-index: 4;
  width: 252px;
  height: 52px;
  border: solid;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.lots {
  display: flex;
  flex-direction: column;
  margin: 176px 36px 0 33px;
}

.lots__heading {
  margin: 0 0 27px 37px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.lots__card-list-item {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-basis: 328px;
  min-height: 554px;
  list-style-type: none;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  display: flex;
}

.card img {
  height: 554px;
  object-fit: cover;
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 35px 46px 39px;
  color: white;
  line-height: 1.2;
}

.card__content-title {
  font-weight: 700;
  font-size: 22px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.card__content-text {
  font-size: 20px;
  line-height: 1.2;
}

.lots__look-more-link {
  width: fit-content;
  font-size: 20px;
}

.lots_underline {
  margin: 29px 0 0 39px;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

.about {
  margin: 177px 33px 181px;
}

.about__column {
  display: grid;
  grid-template-columns: 328px 1fr;
  grid-template-rows: 546px;
  justify-items: center;
}

.about__logo {
    display: grid;
    justify-items: center;
    align-content: space-around;
    width: 237px;
    height: 237px;
    border-radius: 50%;
  background-color: black;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__content {
  padding: 97px 0 0 25px;
}

.about__content-title {
  padding-bottom: 100px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__content-text:not(:last-child) {
  width: 693px;
  padding-bottom: 25px;
  font-size: 20px;
}

.about__content-text:last-child {
  width: 693px;
  font-size: 20px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: start;
  height: 97px;
  margin: 0 58px 89px;
}

.footer__menu {
  display: flex;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__menu-list-item {
  font-size: 18px;
  list-style-type: none;
}

.footer__social-list {
  display: flex;
  justify-content: flex-end;
  gap: 47px;
  list-style-type: none;
}

.footer__social-icon {
  height: 48px;
}
