.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  margin: 90px 24px 0;
}

.header__menu-list {
  display: flex;
  justify-content: center;
  gap: 27px;
  list-style-type: circle;
}

.header__menu-item_no-bullit {
  list-style-type: none;
}

.header__menu-item {
  padding-left: 5px;
  font-size: 18px;
}

.menu-link {
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

.menu-item_active {
  text-decoration: none;
}

.header-logo {
  justify-self: center;
}

.header__logo-image {
  width: 145px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 1.35;
}

.address__header {
  justify-self: end;
  max-width: 240px;
  margin-right: 30px;
}

.address-link {
  width: fit-content;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.cover {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  min-height: 741px;
  margin: 93px 9px 0;
  color: white;
  text-transform: uppercase;
  background-image: url(./images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  z-index: 3;
  display: flex;
  flex-direction: column;
  padding: 0 49px 0 47px;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 30px;
}

.text-left {
  line-height: 1.15;
  letter-spacing: 30px;
  text-align: left;
}

.text-center {
  padding-top: 17px;
  line-height: 1;
  text-align: center;
}

.text-right {
  padding-top: 18px;
  line-height: 1;
  text-align: right;
}

.normal-spacing {
  letter-spacing: 0px;
}

.extra-spacing {
  letter-spacing: 60px;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 132px 49px 48px 80px;
}

.cover__bottom-text {
  z-index: 4;
  padding-bottom: 12px;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.27273;
  word-spacing: 17px;
}

.cover__button {
  z-index: 4;
  width: 252px;
  height: 52px;
  border: solid;
  color: white;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.lots {
  display: flex;
  flex-direction: column;
  margin: 176px 36px 0 33px;
}

.lots__heading {
  margin: 0 0 27px 37px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.lots__card-list-item {
  display: flex;
  flex-grow: 1;
  flex-basis: 328px;
  min-height: 554px;
  list-style-type: none;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 554px;
  padding: 48px 35px 46px 39px;
  color: white;
  line-height: 1.2;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(./images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(./images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(./images/card-lot-03.jpg);
}

.card__content-title {
  z-index: 2;
  font-weight: 700;
  font-size: 22px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.card__content-text {
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 20px;
  line-height: 1.2;
}

.lots__look-more-link {
  width: fit-content;
  margin: 29px 0 0 39px;
  font-size: 20px;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

.about {
  display: grid;
  grid-template-columns: 328px 1fr;
  justify-items: center;
  margin: 177px 21px 177px 33px;
}

.about__logo {
  display: grid;
  justify-items: center;
  align-content: space-around;
  width: 237px;
  height: 237px;
  border-radius: 50%;
  background-color: black;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__content {
  padding: 97px 0 0 25px;
}

.about__content-title {
  padding-bottom: 100px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__content-text:not(:last-child) {
  padding-bottom: 25px;
  font-size: 20px;
}

.about__content-text:last-child {
  font-size: 20px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: start;
  height: 97px;
  margin: 0 58px 89px;
}

.footer__menu {
  display: flex;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__menu-list-item {
  font-size: 18px;
  list-style-type: none;
}

.footer__social-list {
  display: flex;
  justify-content: flex-end;
  gap: 47px;
  list-style-type: none;
}

.footer__social-icon {
  height: 48px;
}
